@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

body {
	font-family: 'Nunito', sans-serif;
	background: #070707;
	color: #eaeaea;
}

h1,h2 {
	margin-top:0;
	margin-bottom:0;
}

.ico {
	vertical-align:middle;
	user-select:none;
}

button {
	background:#666;
	color:white;
	border:0;
}

.biggerButton {
	height:40px;
	width:auto;
	cursor:pointer;
}

.biggerButton:hover {
	background:#292929;
}

.disabled {
	background:#8a8a8a;
	color:#b9b9b9;
}

.active {
	background:#292929;
}

#file_preview {
	max-height:99%;
	max-width:99%;
}

input {
	background:black;
	color:white;
	margin-right:5px;
	transition:width 1s;
	width:175px;
}

input:hover, input:focus {
	width:225px;
}

input[type=file] {
	visibility:hidden;
	width:1px;
}

.altButton {
	background:#2d2d2d;
	color:white;
}

.spinner {
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #333;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.progMain {
	width:100%;
	height:20px;
	background:#292929;
}

.progInner {
	height:100%;
	transition:width 0.5s;
	background:#666;
}

#imagebb {
	width:100%;
	max-width:925px;
	height:auto;
	margin-top:5px;
}